---
import Navbar from "/components/commons/Navbar.astro";
import KiuboButton from "/components/ui/KiuboButton.astro";
import MainLayoutContainer from "/layouts/MainLayoutContainer.astro";
---

<MainLayoutContainer>
  <div slot="navbar">
    <Navbar />
  </div>
  <div slot="body">
    <h1>This is the home page</h1>
    <KiuboButton />
  </div>
  <div slot="footer">
    <h1>This is the footer</h1>
  </div>
</MainLayoutContainer>
