---
import HorizontalScrollContainer from "/components/commons/HorizontalScrollContainer.astro";
import Navbar from "/components/commons/Navbar.astro";
import MainLayoutContainer from "/layouts/MainLayoutContainer.astro";
import Footer from "/components/commons/Footer.astro";
import CategorySectionContainer from "/components/commons/CategorySectionContainer.astro";
---

<MainLayoutContainer>
  <div slot="navbar">
    <Navbar />
  </div>
  <div slot="body" class="flex-1">
    <HorizontalScrollContainer title="This is the body">
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
    </HorizontalScrollContainer>
    <HorizontalScrollContainer title="This is the body">
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
      <CategorySectionContainer />
    </HorizontalScrollContainer>
  </div>
  <div slot="footer">
    <Footer />
  </div>
</MainLayoutContainer>
