---
import { Image } from "astro:assets";

interface Props {
  category: string;
  url: string;
  isFirst?: boolean;
  isLast?: boolean;
}
const { category, url, isFirst = false, isLast = false }: Props = Astro.props;
---

<div class:list={["block", { "pl-6": isFirst }, { "pr-6": isLast }]}>
  <div class={"image-properties"}>
    <Image
      src={url}
      alt="kiubo logo"
      format="avif"
      width="1500"
      height="1500"
      decoding="async"
      loading="lazy"
      class="object-cover rounded-xl h-full w-full"
    />
  </div>
  <div class="category-properties">
    <span class="category-info">
      {category}
    </span>
  </div>
</div>

<style>
  .image-properties {
    width: 25vh;
    height: 30vh;
    max-width: 250px;
    max-height: 300px;
  }

  .category-properties {
    height: 5vh;
    padding-top: 0.6vh;
  }
  .category-info {
    font-size: 0.875rem;
    font-weight: 600;
    color: black;
    text-wrap: wrap;
    line-height: 1.5;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
  }
</style>
