---
const { title } = Astro.props;
---

<div style="padding:16px">
  <h2 class="category-title">{title}</h2>
  <div class="horizontal-scroll-container">
    <slot />
  </div>
</div>

<style>
  .horizontal-scroll-container {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    gap: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
</style>
