---
import Footer from "/components/commons/Footer.astro";
import Navbar from "/components/commons/Navbar.astro";
import "/styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <meta name="generator" content={Astro.generator} />
    <title>Kiubo</title>
  </head>
  <body>
    <Navbar />
    <slot />
    <Footer />
  </body>
</html>
